<% provide(:title, @entry.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @poster %>
        <%= link_to @poster.name, @poster %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <% unless @entry.nil? %>
      <h3>
        <%= @entry.title %>
      </h3>
      <ol class="entries">
        <%= render 'entry_content', entry: @entry %>
      </ol>
    <% end %>
    <%= render 'entry_comment_input' %>
  </div>
</div>